@media only screen and (max-width: 750px) {
    .header__icon {
        position: relative;
        display: block;
        float: left;
        width: 35px;
        height: 50px;
        cursor: pointer;
    }
}